<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985942742649-28etogbadobnr66i8utj2u7gqa0s3g6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985942742649-28etogbadobnr66i8utj2u7gqa0s3g6c</string>
	<key>API_KEY</key>
	<string>AIzaSyBvSkFOUkqnHnquBvIIXaectmkXmtzupsg</string>
	<key>GCM_SENDER_ID</key>
	<string>985942742649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ptuepapers</string>
	<key>PROJECT_ID</key>
	<string>ptupapers-a7631</string>
	<key>STORAGE_BUCKET</key>
	<string>ptupapers-a7631.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985942742649:ios:cb0adc252a74fcb7bd66a8</string>
</dict>
</plist>